{% extends 'products/base.html' %}
{% load static %}


{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Store</h1>
                <div class="list-group">
                    {%for category in categorys%}
                        <a href="#" class="list-group-item">{{category.name}}</a>
                    {% endfor %}
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">


                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#">
                                    <img class="card-img-top"
                                         src={{product.image.url}}
                                         alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">{{product.name}}</a>
                                    </h4>
                                    <h5>{{product.price}} руб.</h5>
                                    <p class="card-text">{{product.description}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-outline-success">Отправить в корзину</button>
                                </div>
                            </div>
                        </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}